<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Meta -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- Title -->
	<title>RESET PASSWORD</title>
	
	<!-- Favicon -->
	<link th:href="@{/images/favicon.ico}" rel="icon" type="image/x-icon" />
	
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CLato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
	<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
   
   
	<!-- Mobile Menu -->
	<link th:href="@{/css/mmenu.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/mmenu.positioning.css}" rel="stylesheet" type="text/css" />
	
	<!-- Stylesheet -->
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script th:src="@{/js/html5shiv.min.js}"></script>
	<script th:src="@{/js/respond.min.js}"></script>
	<![endif]-->
   </head>
<body>
	<nav th:replace="header :: ${header}"></nav>
	<!-- Start: Page Banner -->
	<section class="page-banner services-banner">
		<div class="container">
			<div class="banner-header">
				<h2>RESET PASSWORD</h2>
				<span class="underline center"></span>

			</div>
			<div class="breadcrumb">
				<ul>
					<li><a th:href="@{/}">Home</a></li>
					<li><a th:href="@{/login}">Login</a></li>
					<li>Reset Password</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- End: Page Banner -->

	<div class="container">
		<div class="row">
			</br>
			</br>
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-default" style="background: #4b4743";>
					<div class="panel-body" style="background: #4b4743";>
						<div class="text-center">
							<h3>
								<i class="glyphicon glyphicon-lock" style="font-size: 2em; color:#ff7236;"></i>
							</h3>
							<h2 class="text-center" style="color:#ff7236;">Reset password</h2>
							<div class="panel-body">

								<div th:if="${error}">
									<div class="alert alert-danger">
										<span th:text="${error}"></span>
									</div>
								</div>

								<form th:action="@{/reset-password}"
									th:object="${passwordResetForm}" method="post">

									<p class="error-message" th:if="${#fields.hasGlobalErrors()}" style="color:red; font-weight: bold;"
										th:each="error : ${#fields.errors('global')}"
										th:text="${error}" >Validation error</p>

									<input type="hidden" name="token" th:value="${token}" />

									<div class="form-group"
										th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
										<div class="input-group">
											<span class="input-group-addon"> <i style="color:#ff7236"
												class="glyphicon glyphicon-lock"></i>
											</span> <input id="password" class="form-control"
												placeholder="password" type="password"
												th:field="*{password}" />
										</div>
										<p class="error-message"
											th:each="error: ${#fields.errors('password')}" style="color:red; font-weight: bold;"
											th:text="${error}">Validation error</p>
									</div>
									<div class="form-group"
										th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
										<div class="input-group">
											<span class="input-group-addon"> <i style="color:#ff7236"
												class="glyphicon glyphicon-lock"></i>
											</span> <input id="confirmPassword" class="form-control"
												placeholder="Confirm password" type="password"
												th:field="*{confirmPassword}" />
										</div>
										<p class="error-message"
											th:each="error: ${#fields.errors('confirmPassword')}" style="color:red; font-weight: bold;"
											th:text="${error}">Validation error</p>
									</div>
									<div class="form-group">
										<button type="submit" style="background-color:#ff7236; border-radius: 5px; border: none;"
										 class="btn btn-block btn-success">Reset
											password</button>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
				<div class="">
					<div class="col-md-12">
						New user? <a href="/" th:href="@{/registration}" style="font-weight: bold;">Register</a>
					</div>
					<div class="col-md-12">
						Already registered? <a href="/" th:href="@{/login}"
							style="font-size: 17px; font-weight: bold;";>Login</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<footer th:replace="footer :: ${footer}"></footer>
	<!-- jQuery Latest Version 1.x -->
	<script type="text/javascript"  th:src="@{/js/jquery-1.12.4.min.js}"></script>
        
	<!-- jQuery UI -->
	<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
	
	<!-- jQuery Easing -->
	<script type="text/javascript" th:src="@{/js/jquery.easing.1.3.js}"></script>

	<!-- Bootstrap -->
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	
	<!-- Mobile Menu -->
	<script type="text/javascript" th:src="@{/js/mmenu.min.js}"></script>
	
	<!-- Harvey - State manager for media queries -->
	<script type="text/javascript" th:src="@{/js/harvey.min.js}"></script>
	
	<!-- Waypoints - Load Elements on View -->
	<script type="text/javascript" th:src="@{/js/waypoints.min.js}"></script>

	<!-- Facts Counter -->
	<script type="text/javascript" th:src="@{/js/facts.counter.min.js}"></script>

	<!-- MixItUp - Category Filter -->
	<script type="text/javascript" th:src="@{/js/mixitup.min.js}"></script>

	<!-- Owl Carousel -->
	<script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>
	
	<!-- Accordion -->
	<script type="text/javascript" th:src="@{/js/accordion.min.js}"></script>
	
	<!-- Responsive Tabs -->
	<script type="text/javascript" th:src="@{/js/responsive.tabs.min.js}"></script>
	
	<!-- Responsive Table -->
	<script type="text/javascript" th:src="@{/js/responsive.table.min.js}"></script>
	
	<!-- Masonry -->
	<script type="text/javascript" th:src="@{/js/masonry.min.js}"></script>
	
	<!-- Carousel Swipe -->
	<script type="text/javascript" th:src="@{/js/carousel.swipe.min.js}"></script>
	
	<!-- bxSlider -->
	<script type="text/javascript" th:src="@{/js/bxslider.min.js}"></script>
	
	<!-- Custom Scripts -->
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>
